In [ ]:
#Zipping the folder:FolderYouWantToZip 
!zip -r ./NewNameForZipFolder.zip ./FolderYouWantToZip/

In [ ]:
#Mount your Google Drive to save files on it
from google.colab import drive 
drive.mount('/content/gdrive')

In [ ]:
#Turn a df to csv file and zipping it

zipFile = 'zipFile_name'  + '.zip' 
csvFile = 'csvFile_name' + '.csv' 

compression_opts = dict(method='zip', archive_name= csvFile)  
df.to_csv(zipFile , index=True, compression=compression_opts)  

#See example below:

In [ ]:
import pandas as pd

column_names = ['A','B','C','D']
my_df = pd.DataFrame(columns = column_names)  #create an empty data frame
my_df = my_df.append({'A': 1, 'B': 12.3, 'C': 'xyz', 'D':9}, ignore_index=True)


zipFile = 'zipFile_name'  + '.zip' 
csvFile = 'csvFile_name' + '.csv' 

compression_opts = dict(method='zip', archive_name= csvFile)  
my_df.to_csv(zipFile , index=True, compression=compression_opts)

In [ ]:
#Detect categorical and numerical columns
cat_data = df.select_dtypes('object').columns
num_data = df.select_dtypes(np.number).columns

In [ ]:
import os

#Create a new folder called Folder_name
!mkdir Folder_name

#Remove fils
os.remove(file_name)

#change directory
os.chdir('/content')
os.chdir('/content/Folder_name')

#List all files in a folder
os.chdir('/content/Folder_name')
os.listdir()

#Whether or not a file exists in a Folder
os.chdir('/content/Folder_name')
os.path.exists(file_name)

In [ ]:
import shutil

#Remoev a folder with files in it
shutil.rmtree(folder_name)
#OR
!rm -rf folder_name

#Copy a file to another folder
shutil.copy(file_name, folder_name)

In [ ]:
#Pause the code for 12 seconds
import time
time.sleep(12)

In [ ]:
#Create a dataframe from scratch:
import pandas as pd
new_df = pd.DataFrame() #create an empty data frame

column1 = [1,2,3,4,5,6,7,8,9]
column2 = ['Amir', 'John', 'Scot', 'Robert', 'Jane', 'Marina', 'Xia', 'Nethen']
column3 = ['Iran', 'Canada', 'US', 'Poland', 'Canada', 'Russia', 'China', 'Mexico']
column4 = [124, 432, 456, 342, 232, 765, 128, 980]


new_df = pd.concat([pd.DataFrame(column1), pd.DataFrame(column2), pd.DataFrame(column3), pd.DataFrame(column4)], axis=1)
new_df.columns = ['Column Name 1', 'Column Name 2', 'Column Name 3', 'Column Name 4'] #add column names to this data frame
new_df.head(10)

   Column Name 1 Column Name 2 Column Name 3  Column Name 4
0              1          Amir          Iran          124.0
1              2          John        Canada          432.0
2              3          Scot            US          456.0
3              4        Robert        Poland          342.0
4              5          Jane        Canada          232.0
5              6        Marina        Russia          765.0
6              7           Xia         China          128.0
7              8        Nethen        Mexico          980.0
8              9           NaN           NaN            NaN

In [ ]:
 #Turn all zeros to 1 in a dataframe column
 df['column_name'] = df['column_name'].where(df['column_name'] !='0' , '1')

 #Turn all missing values to to 0 in a dataframe column
 df['column_name'] = df['column_name'].where(df['column_name'].isnull()==False , '0')

In [ ]:
 #Selecting specific values from cloumns of a dataframe
 df_2=  df.loc[  (df['column_1'] ==-1) | (df['column_2'] >= 3) ]

In [ ]:
 #drop duplicated values in column_name
 df.drop_duplicates(subset="column_name", keep='first', inplace=True)

In [ ]:
#Reorder columns: make id_loan the first column
 cols = df.columns
 cols = cols.drop('id_loan')
 cols = ['id_loan'] + list (cols)
 df = df[cols]

In [ ]:
#Reindex and remove the unnecessary column
df.reset_index(drop=True, inplace=True)

In [ ]:
 #Joining 2 df based on a common column
 merged_df = pd.merge(df_1, df_2, on='common_column', how='inner')  #how='outer'  #how='right'   #how='left'

 #Joining 2 df based on their index
 merged_df = pd.merge(df_1, df_2, left_index=True, right_index=True, how='inner')   #how='outer'  #how='right'   #how='left'

In [ ]:
#Converting a df which includes polygons into GeoDataFrame
from geopandas import GeoDataFrame
crs = {'init': 'epsg:4326'}

Geo_df = GeoDataFrame(Geo_df, crs=crs,  geometry='geometry')  #Column 'geometry" should be of type geometry not an object
Geo_df.plot(color='yellow', edgecolor='black',figsize=(15, 10))
Geo_df['geometry'].area       #Returns the area
Geo_df['geometry'].centroid   #Returns the center point
Geo_df['geometry'].bounds     #Returns 4 points as boundaries of the geometry: x_min, x_max, y_min, y_max 

Geo_df.to_file('Geo_df.shp', driver='ESRI Shapefile')

In [ ]:
#Creating points and then a polygon
from shapely import geometry
from shapely.geometry import box, MultiPolygon, Polygon, Point

x1=0
x2=1
x3=0.5
y1=0
y2=0
y3=2

p1 = geometry.Point(x1 ,y1)
p2 = geometry.Point(x2 ,y2)
p3 = geometry.Point(x3 ,y3)

pointList = [p1, p2, p3, p1]

triangle = geometry.Polygon(pointList)
triangle.bounds
triangle.area
triangle.centroid
p1.distance(p2)     #Distance between 2 points
triangle